.address {
  margin-top: 20px;
}

.address__link--location {
  color: $mainBcgColor;
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

.address__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.address__link--contact {
  color: $footerContactsColor;

  transition: color 250ms $mainAnimationFunction;

  &:hover,
  &:focus {
    color: $brandColor;
  }
}
