.peculiarities {
  padding-bottom: 0;
}

.peculiarities__list {
  display: flex;

  &:last-child {
    margin-top: 30px;
  }
}

.peculiarities__icon {
  /* width: 270px; */
  height: 120px;
  background-color: $secondaryBcgColor;
  border-radius: 4px;
  padding: 25px 100px;
  width: calc((100%-90px) / 4);
}

.peculiarities__name {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.peculiarities__text {
  margin-top: 10px;

  color: $secondaryTextColor;
  font-size: 14px;
  line-height: 1.71;
}
